@model IOrderedEnumerable<ReportViewModel>

@{
    ViewBag.Title = "Validate SQL Reports";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Validate Reports Against Database</h2>

<ul class="list-unstyled list-of-all-reports">
    @foreach (var report in Model)
    {
        <li>
            <button class="btn btn-sm check-button" data-aggregateid="@report.AggregateId">Check</button>
            <span class="result-holder"></span>
            @Html.ActionLink(report.Title, MVC.Report.UpdateCode(report.AggregateId))
        </li>
    }
</ul>

@section scripts
{
    <script>
        function checkReportIntegrity($button) {
            var aggregateId = $button.data('aggregateid');
            var postData = {};
            postData['aggregateId'] = aggregateId;

            var resultHolder = $button.next('.result-holder');
            resultHolder.html('<span class="glyphicon glyphicon-refresh" style="color: black; font-weight: 800" aria-hidden="true"></span>');

            $.ajax({
                type: 'POST',
                url: '@Url.Action(MVC.SqlValidation.CheckReport())',
                data: postData,
                error: function () {
                    showWarning('Communication Error: could not connect to the server');
                },
                success: function (data) {
                    if (data.IsValid === true) {
                        resultHolder.html('<span class="glyphicon glyphicon-check" title="Report has valid SQL" style="color: green; font-weight: 800" aria-hidden="true"></span>');
                    } else {
                        resultHolder.html('<span class="glyphicon glyphicon-ban-circle" title="' + data.Error + '" style="color: red; font-weight: 1800" aria-hidden="true"></span>');
                    }
                }
            });
        }


        $(document).ready(function() {
            $('.check-button').on('click', function () {
                checkReportIntegrity($(this));
            });
        });
    </script>
}