@{
    Layout = "~/Views/Shared/_LayoutAdminContainerFree.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}

<div class="container admin-content">
    @RenderBody()
</div>

@section scripts
{
    @RenderSection("scripts", required: false)
}