@model ReportDetailsViewModel

@{
    ViewBag.Title = "Create New Report";
}

<h2>Create New Graph</h2>
@using (Html.BeginForm(MVC.Report.Create(), FormMethod.Post, new { role = "form", @class = "submit-by-ajax"}))
{
    <div class="row">
    @Html.Partial(MVC.Report.Views._CreateEdit, Model)
    </div>
}
