@model EditReportDetailsViewModel

@{
    ViewBag.Title = "Edit Report";
}


<h2>Edit Report</h2>

@Html.ActionLink("View Report", MVC.Home.Report(Model.Id), new { @class = "btn btn-default btn-xs", style = "position: absolute; right: 15px; top: 70px;", target = "_blank" })

@using (Html.BeginForm(MVC.Report.Edit(), FormMethod.Post, new { role = "form", @class = "submit-by-ajax" }))
{
    <div class="row">

        @Html.HiddenFor(m => m.Id)
        @Html.Partial(MVC.Report.Views._CreateEdit, Model)
    </div>
}
