@*TODO Remove*@

@*<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", MVC.Home.Index(), new { @class = "navbar-brand" })</li>
    <li>@Html.ActionLink("Maintain Reports", MVC.Report.Index())</li>
    <li>@Html.ActionLink("Databases", MVC.Database.Index())</li>
</ul>*@
