@model MenuModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Edit Menu";
}

<h2>Edit Menu</h2>

@if (Model.TopLevelReports.Any())
{
    <ul>
        @foreach (var report in Model.TopLevelReports)
        {
            <li>@Html.ActionLink(report.Title, MVC.Home.Report(report.Id))</li>
        }
    </ul>
}
@{
    var panelGroupId = Guid.NewGuid().ToString();
}


@if (Model.MenuNodes.Any())
{
    <div class="panel-group" id="@panelGroupId">
        @foreach (var menuNode in Model.MenuNodes)
        {
            @Html.DisplayFor(_ => menuNode, new { parentId = panelGroupId })
        }
    </div>
}