@model MenuModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Edit Menu";
}

<h2>Edit Menu</h2>

<table id="treetable">
    @foreach (var report in Model.TopLevelReports)
    {
        <tr data-tt-id="@report.Id">
            <td><span class="file">@Html.ActionLink(report.Title, MVC.Home.Report(report.Id))</span></td>
        </tr>
    }
    @foreach (var menuNode in Model.MenuNodes)
    {
        @Html.DisplayFor(_ => menuNode)
    }
</table>

@section scripts
{
    <script>
        $('#treetable').treetable({
            expandable: true,
            clickableNodeNames: true
        });
    </script>
}
