@model ReportDetailsViewModel

@{
    ViewBag.Title = "Create New Graph";
}


<h2>Create New Graph</h2>
@using (Html.BeginForm("CreateReport", "Admin", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    @Html.Partial("_CreateEdit", Model)
    <div class="row">
        <div class="col-sm-2"></div>
        <input type="submit" value="Create" class="btn btn-default" />
        @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-default" })
    </div>
}
