@model AmvReporting.Domain.Templates.Commands.CreateTemplateCommand

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Create Report Template";
}

<h2>Create Report Template</h2>
@using (Html.BeginForm(MVC.Template.Create(), FormMethod.Post, new { role = "form" }))
{
    @Html.Partial(MVC.Template.Views._CreateEdit)
    <div class="row">
        <input type="submit" value="Create" class="btn btn-default" />
        @Html.ActionLink("Back To List", MVC.Template.Index(), new { @class = "btn btn-default" })
    </div>
}

@section scripts
{
    @Html.Partial(MVC.Template.Views._CommonScripts)
}
