@model AmvReporting.Domain.Templates.Commands.CreateTemplateCommand

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Create Report Template";
}

<h2>Create Report Template</h2>
