@model IEnumerable<AmvReporting.Domain.Templates.Events.TemplateViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "List of Report Templates";
}

<h2>List of Report Templates</h2>
