@model AmvReporting.Domain.Templates.Commands.UpdateTemplateCommand

@{
    ViewBag.Title = "Update Report Template";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Update Report Template</h2>
@using (Html.BeginForm(MVC.Template.Update(), FormMethod.Post, new { role = "form", @class = "submit-by-ajax", id="template-form"}))
{
    @Html.HiddenFor(m => m.AggregateId)
    @Html.Partial(MVC.Template.Views._CreateEdit)
    <div class="row">
        <input type="submit" value="Update" class="btn btn-default" />
        @Html.ActionLink("Back To List", MVC.Template.Index(), new { @class = "btn btn-default" })
    </div>
}

@section scripts
{
    @Html.Partial(MVC.Template.Views._CommonScripts)
}
