@model AmvReporting.Domain.Templates.Commands.UpdateTemplateCommand

@{
    ViewBag.Title = "Update Report Template";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Update Report Template</h2>
