@model AmvReporting.Domain.Preview.Queries.PreviewDataResult

@{
    Layout = null;
}

@if (Model.IsSuccess)
{
    <div>
        <pre>@Model.Data;</pre>
    </div>
}
else
{
    <h4>@Model.ExceptionMessage</h4>
}
