@model PreviewTableResult

@{
    Layout = null;
}

@if (Model.IsSuccess)
{
    <div>
        <h3>Columns</h3>
        <pre>@Model.Columns</pre>

        <h3>Data</h3>
        <pre>@Model.Data;</pre>
    </div>
}
else
{
    <h4>Error: @Model.ExceptionMessage</h4>
}
