@model ReportResultPreview
@{
    Layout = null;
}

<style>
    @Model.Css
</style>

<div id="javascriptError"></div>

@if (Model.ReportType == ReportType.Table)
{
    <table id="report"></table>
}
@if (Model.ReportType == ReportType.LineChart)
{
    <div id="report" style="height: 600px; width: 600px;"></div>
}
@if (Model.ReportType == ReportType.LineChartWithSelection)
{
    <div id="report" style="height: 600px; width: 600px"></div>
    <div id="choices"></div>
}
@if (Model.ReportType == ReportType.GoogleGraphs)
{
    <div id="report" style="height: 600px; width: 600px"></div>
}

<script type="text/javascript">
    try {
        @Html.Raw(Model.Data)
        @Html.Raw(Model.JavaScript)
    } catch (e) {
        $('#javascriptError').html('<span class="glyphicon glyphicon-remove-circle"></span> JavaScript Error: ' + e.message).addClass('alert-danger javascriptError');
    }
</script>