@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}


@section css{
    <style>
        .demo-container {
            box-sizing: border-box;
            width: 850px;
            height: 450px;
            padding: 20px 15px 15px 15px;
            margin: 15px auto 30px auto;
            border: 1px solid #ddd;
            background: #fff;
            background: linear-gradient(#f6f6f6 0, #fff 50px);
            background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
            background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
            background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
            background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
            box-shadow: 0 3px 10px rgba(0,0,0,0.15);
            -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
            -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
            -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
            -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        }

        .demo-placeholder {
            width: 100%;
            height: 100%;
            font-size: 14px;
            line-height: 1.2em;
        }

        .legend table {
            border-spacing: 5px;
        }
    </style>
}

@section scripts{
    <script language="javascript">
        var data = [
            {
                "month": "April",
                "percentagelosttime": "0.16",
                "dept": "Corporate Services"
            },
            {
                "month": "April",
                "percentagelosttime": "2.32",
                "dept": "Finance & Fundraising"
            },
            {
                "month": "April",
                "percentagelosttime": "0",
                "dept": "Marketing & Enterprise"
            },
            {
                "month": "April",
                "percentagelosttime": "4.34",
                "dept": "Operations"
            },
            {
                "month": "April",
                "percentagelosttime": "0.83",
                "dept": "Senior Management Team"
            },
            {
                "month": "May",
                "percentagelosttime": "0.99",
                "dept": "Corporate Services"
            },
            {
                "month": "May",
                "percentagelosttime": "1.54",
                "dept": "Finance & Fundraising"
            },
            {
                "month": "May",
                "percentagelosttime": "0",
                "dept": "Marketing & Enterprise"
            },
            {
                "month": "May",
                "percentagelosttime": "4.15",
                "dept": "Operations"
            },
            {
                "month": "May",
                "percentagelosttime": "0.64",
                "dept": "Senior Management Team"
            },
            {
                "month": "June",
                "percentagelosttime": "0.93",
                "dept": "Corporate Services"
            },
            {
                "month": "June",
                "percentagelosttime": "1.61",
                "dept": "Finance & Fundraising"
            },
            {
                "month": "June",
                "percentagelosttime": "0",
                "dept": "Marketing & Enterprise"
            },
            {
                "month": "June",
                "percentagelosttime": "4.03",
                "dept": "Operations"
            },
            {
                "month": "June",
                "percentagelosttime": "0.45",
                "dept": "Senior Management Team"
            },
            {
                "month": "July",
                "percentagelosttime": "0.7",
                "dept": "Corporate Services"
            },
            {
                "month": "July",
                "percentagelosttime": "1.65",
                "dept": "Finance & Fundraising"
            },
            {
                "month": "July",
                "percentagelosttime": "2.28",
                "dept": "Marketing & Enterprise"
            },
            {
                "month": "July",
                "percentagelosttime": "4.12",
                "dept": "Operations"
            },
            {
                "month": "July",
                "percentagelosttime": "0.35",
                "dept": "Senior Management Team"
            },
            {
                "month": "August",
                "percentagelosttime": "0",
                "dept": "Corporate Relations & Fundraising"
            },
            {
                "month": "August",
                "percentagelosttime": "0.7",
                "dept": "Corporate Services"
            },
            {
                "month": "August",
                "percentagelosttime": "0",
                "dept": "Finance & Corporate Services"
            },
            {
                "month": "August",
                "percentagelosttime": "1.65",
                "dept": "Finance & Fundraising"
            },
            {
                "month": "August",
                "percentagelosttime": "0",
                "dept": "Human Resources and L & D"
            },
            {
                "month": "August",
                "percentagelosttime": "3.85",
                "dept": "Marketing & Enterprise"
            },
            {
                "month": "August",
                "percentagelosttime": "4.18",
                "dept": "Operations"
            },
            {
                "month": "August",
                "percentagelosttime": "0.28",
                "dept": "Senior Management Team"
            },
            {
                "month": "September",
                "percentagelosttime": "0",
                "dept": "Corporate Relations & Fundraising"
            },
            {
                "month": "September",
                "percentagelosttime": "0.7",
                "dept": "Corporate Services"
            },
            {
                "month": "September",
                "percentagelosttime": "0.16",
                "dept": "Finance & Corporate Services"
            },
            {
                "month": "September",
                "percentagelosttime": "1.65",
                "dept": "Finance & Fundraising"
            },
            {
                "month": "September",
                "percentagelosttime": "0.34",
                "dept": "Human Resources and L & D"
            },
            {
                "month": "September",
                "percentagelosttime": "4.35",
                "dept": "Marketing & Enterprise"
            },
            {
                "month": "September",
                "percentagelosttime": "4.14",
                "dept": "Operations"
            },
            {
                "month": "September",
                "percentagelosttime": "0.23",
                "dept": "Senior Management Team"
            },
            {
                "month": "October",
                "percentagelosttime": "0",
                "dept": "Corporate Relations & Fundraising"
            },
            {
                "month": "October",
                "percentagelosttime": "0.7",
                "dept": "Corporate Services"
            },
            {
                "month": "October",
                "percentagelosttime": "1.15",
                "dept": "Finance & Corporate Services"
            },
            {
                "month": "October",
                "percentagelosttime": "1.65",
                "dept": "Finance & Fundraising"
            },
            {
                "month": "October",
                "percentagelosttime": "0.83",
                "dept": "Human Resources and L & D"
            },
            {
                "month": "October",
                "percentagelosttime": "3.57",
                "dept": "Marketing & Enterprise"
            },
            {
                "month": "October",
                "percentagelosttime": "4.21",
                "dept": "Operations"
            },
            {
                "month": "October",
                "percentagelosttime": "0.26",
                "dept": "Senior Management Team"
            }
        ];

    //var series1 = [
    //    ["April", 4.34],
    //    ["May", 4.15],
    //    ["June", 4.03],
    //    ["July", 4.12],
    //    ["August", 4.18],
    //    ["September", 4.14],
    //    ["October", 4.21]
    //];
    //var series2 = [
    //    ["April", 3.34],
    //    ["May", 3.15],
    //    ["June", 2.03],
    //    ["July", 2.12],
    //    ["August", 2.18],
    //    ["September", 2.14],
    //    ["October", 2.21]
    //];

    //var groupedData = [
    //    { data: series1, label: "one" },
    //    { data: series2, label: "two" }
    //];

    //$.plot("#placeholder", groupedData, {
    //    xaxis: { mode: "categories" }
    //});


        var datasets = {};

        $('#process').click(function () {
            data.map(function(row) {
                if (!(row.dept in datasets)) {
                    datasets[row.dept] = {
                        label: row.dept,
                        data: [row.month, row.percentagelosttime],
                    };
                } else {
                    datasets[row.dept].data.push([row.month, row.percentagelosttime]);
                }
            });

            //hard-code color indices to prevent them from shifting as series are turned on/off
            var i = 0;
            $.each(datasets, function (key, val) {
                val.color = i;
                ++i;
            });

            // insert checkboxes
            var choiceContainer = $("#choices");
            $.each(datasets, function (key, val) {
                choiceContainer.append("<br/><input type='checkbox' name='" + key +
                    "' checked='checked' id='id" + key + "'></input>" +
                    "<label for='id" + key + "'>"
                    + val.label + "</label>");
            });

            choiceContainer.find("input").click(plotAccordingToChoices);

            function plotAccordingToChoices() {

                var data = [];

                choiceContainer.find("input:checked").each(function () {
                    var key = $(this).attr("name");
                    if (key && datasets[key]) {
                        data.push(datasets[key]);
                    }
                });

                if (data.length > 0) {
                    $.plot("#placeholder", data, {
                        xaxis: {
                            mode: "categories",
                        }
                    });
                }
            }

            plotAccordingToChoices();

        });
    </script>
}

<button id="process">Process!</button>

<div class="demo-container">
    <div id="placeholder" class="demo-placeholder" style="float:left; width:675px;"></div>
    <p id="choices" style="float:right; width:135px;"></p>
</div>
