@model MenuModel

@{
    ViewBag.Title = "List of Reports";
}

@Html.ActionLink("Admin", MVC.Report.Index(), new { @class = "admin-link btn btn-default btn-xs" })


<a class="expand-all btn btn-default btn-xs">Expand All</a>
<a class="collapse-all btn btn-default btn-xs">Collapse All</a>
<table id="treetable">
    @foreach (var menuNode in Model.MenuNodes)
    {
        @Html.DisplayFor(_ => menuNode)
    }
    @foreach (var report in Model.TopLevelReports)
    {
        <tr data-tt-id="@report.AggregateId">
            <td><span class="file">@Html.ActionLink(report.Title, MVC.Home.ReportAggregate(report.AggregateId))</span></td>
        </tr>
    }
</table>