@model MenuModel

@{
    ViewBag.Title = "Home Page";
}

@Html.ActionLink("Admin", MVC.Report.Index(), new {id="AdminLoginLink", @class="btn btn-default btn-xs"})


<a class="expand-all btn btn-default btn-xs">Expand All</a>
<a class="collapse-all btn btn-default btn-xs">Collapse All</a>
<table id="treetable">
    @foreach (var menuNode in Model.MenuNodes)
    {
        @Html.DisplayFor(_ => menuNode)
    }
    @foreach (var report in Model.TopLevelReports)
    {
        <tr data-tt-id="@report.Id">
            <td><span class="file">@Html.ActionLink(report.Title, MVC.Home.Report(report.Id))</span></td>
        </tr>
    }
</table>