<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
      <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
  <appSettings>
    <add key="EnableRavenStudio" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="Browser Link for HTML" path="*.html" verb="*" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="File" preCondition="integratedMode" 
           xdt:Transform="Remove" xdt:Locator="Match(name)"/>
    </handlers>
  </system.webServer>

</configuration>
