@model dynamic

@{
    var reports = (List<ReportViewModel>)ViewBag.AllReports;
}

@if (reports.Any())
{
    <ul>
        @foreach (var report in reports)
        {
            <li>@report.Id - @report.Title</li>
        }
    </ul>
}
else
{
  <p>There are no documents available</p>
}