@model AmvReporting.Controllers.IndexViewModel


<h3>Migration to Event Store</h3>

<p>Number of new-style documents: @Model.ReportViewModelsCount</p>

<p>Number of old-style documents: @Model.OldReportsCount</p>

<p>Number of records in Migration dictionary: @Model.MigrationRecordsCount</p>


@if (Model.OldReportsCount > 0 || Model.MigrationRecordsCount != Model.ReportViewModelsCount)
{
    <h3>You need to run a migration</h3>
    using (Html.BeginForm(MVC.Migration.RunMigration()))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Run Migration" class="btn btn-lg btn-danger"/>
    }
}