@model AmvReporting.Controllers.IndexViewModel


<h3>Current migrated reports</h3>
@if (Model.ReportViewModels.Any())
{
    <ul>
        @foreach (var report in Model.ReportViewModels)
        {
            <li>@report.Id - @report.Title</li>
        }
    </ul>
}
else
{
  <p>There are no Event-Store style documents available</p>
}

<hr/>
Number of old-style documents: @Model.OldReportsCount

@if (Model.OldReportsCount > 0)
{
    <h3>You need to run a migration</h3>
    using (Html.BeginForm(MVC.Migration.RunMigration()))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Run Migration" class="btn btn-lg btn-danger"/>
    }
}