@model CompareToLatestViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdminContainerFree.cshtml";
    ViewBag.Title = "Compare Revision to Latest";
}

@section css
{
    @Styles.Render("~/Content/mergely_css")
}


<div class="admin-content">
    <div id="alert-placeholder"></div>

    <h2>Compare Revision #@Model.RevisionNumber to Latest</h2>

    <div id="compare"></div>

    <div id="revision" class="hidden">@Model.RevisionJson</div>
    <div id="latest" class="hidden">@Model.LatestJson</div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/mergely_js")

    <script>
        $(document).ready(function () {
            var revision = $('#revision')[0].innerHTML;
            var latest = $('#latest')[0].innerHTML;
            $('#compare').mergely({
                cmsettings: { readOnly: false, lineNumbers: true },
                lhs: function (setValue) {
                    setValue(revision);
                },
                rhs: function (setValue) {
                    setValue(latest);
                }
            });
        });
    </script>
}
